body {
  margin:0;
}
#main {
  border-bottom : 2px black solid;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px;
}
a {
  text-decoration: none;
}
#act {
  border-left: 2px black solid  ;
  margin:0;
  padding-left: 25px;
  padding-top: 0px;
}
#button {
  padding-left: 23px;
  padding-top: 20px;
}
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
@media(max-width:400px) {
  #grid{
    display: block;
  }
  #act{
    border-left: none;
  }
  /* #main{
    border-bottom:none;
  } */
}
